.parallax {
  /* The image used */
  background-image: url("https://images.squarespace-cdn.com/content/v1/6063b0835f68896079d7d643/1617908516380-MGDSF238F46LA8HAN8ZQ/LVCC%2BLoop%2BHero%2B2_April%2B2021.jpg?format=2500w");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
